{% extends 'landing_base.html' %}
{% block main_container %}
<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
        <div class="row gap-20 masonry pos-r">
            <h4 class="c-grey-900">UI Elements</h4>
            <div class="masonry-sizer col-md-6"></div>
            <div class="masonry-item col-md-6">
                <div class="bgc-white p-20 bd">
                    <h6 class="c-grey-900">ზოგადი ინფორმაცია</h6>
                    <div class="mT-30">

                        <div class="row">
                            <div class="col-md-6">
                                <img class="w-100p@xl- bdrs-4"
                                     src="http://hrms.bog.ge/Common/GetImage?workEmail=vendeladze@bog.ge"
                                     alt=""/>
                            </div>
                            <div class="pl-0 col-md-6">
                                <div class="list-group">
                                    <p class="pl-1 list-group-item">
                                        <strong>სახელი:</strong> ვიტალი ენდელაძე
                                    </p>
                                    <p class="pl-1 list-group-item">
                                        <strong>თანამდებობა:</strong> მიკრო საკრედიტო ექსპერტი
                                    </p>
                                    <p class="pl-1 list-group-item">
                                        <strong>დეპარტამენტი:</strong> საცალო ბიზნესის საბანკო მომსახურების
                                        დეპარტამენტი
                                    </p>
                                    <p class="pl-1 list-group-item border-bottom-0">
                                        <strong>სამუშაო ადგილი: </strong> #51 Service Center
                                    </p>
                                </div>
                            </div>
                            <div class="pl-0 col-md-12">
                                <div class="list-group">
                                    <p class="pl-1 list-group-item">
                                        <strong>ელ. ფოსტა:</strong> vendeladze@bog.ge
                                    </p>
                                    <p class="pl-1 list-group-item">
                                        <strong>მობილური ტელეფონი:</strong> +995 (595) 496946
                                    </p>
                                    <p class="pl-1 list-group-item">
                                        <strong>სამსახურის ტელეფონი:</strong> +995 (32) 2444444 (3650)
                                    </p>
                                    <p class="pl-1 list-group-item">
                                        <strong>უშუალო მენეჯერი:</strong> თამარი სესაძე
                                    </p>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
{% endblock %}
