{% extends 'landing_base.html' %}
{% block main_container %}
<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
        <div class="row gap-20 masonry pos-r">
            <h4 class="c-grey-900">ძებნის შედეგები</h4>
            <div class="masonry-sizer col-md-3"></div>
            {% if search_results %}
            {% for search_result in search_results %}
            <div class="masonry-item col-md-3">
                <div class="bgc-white p-20 bd">

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img class="w-50p@xl- h-10p@md- bdrs-50p"
                                 src="http://hrms.bog.ge/Common/GetImage?workEmail={{search_result.mail}}"
                                 alt=""/>
                        </div>
                        <div class="col-md-12">
                            <p class="text-center mb-0">
                                <strong>{{search_result.displayName}}</strong>
                            </p>
                            <p class="text-center mb-0">
                                {{search_result.title}}
                            </p>
                            <p class="text-center">
                                {{search_result.department}}
                            </p>
                            <p class="text-center">
                                <a class="text-center" href="/employee">სრულად </a>
                            </p>
                        </div>


                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="masonry-item col-md-12">
                <div class="alert alert-warning text-center " role="alert">სამწუხაროდ ვერაფერი მოიძებნა</div>
            </div>
            {% endif %}

        </div>
    </div>
</main>
{% endblock %}
